.Comment{
    .number_lable{
        font-size: 14px;
    }
    .name_lable{
        font-size: 14px;
    }
    .comment_title{
        font-size: 14px;
    }

    .cursor_pointer{
        cursor: pointer;
    }

    
}