@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
$main-color: #ffbf00;
$foreign-color: #fff700;
@mixin font-main {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}