.Contract{
    .contract_item{
        // box-shadow: 0 2px 4px 0 rgba(90, 76, 76, 0.2),
        //         0 3px 10px 0 rgba(0, 0, 0, 0.19);
        .time{
            font-size: 14px;
        }
        .duration{
            font-size: 12px;
        }
        .text-infor{
            font-size: 15px;
        }
    }
}